body {
  font-family: "Montserrat", sans-serif;

  font-size: 15px;
  line-height: 1.5;
  color: #333;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Welcome */
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 1024px;
  margin: 0 auto;
  background: url("../css/img/welcome/MoGo2.png");
  -webkit-background-size: cover;
  background-size: cover;
}

.welcome__inner {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

.welcome__title {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 144px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

.welcome__title:after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 60px auto 0;

  background-color: #fff;
}

.welcome__title__template {
  margin-bottom: 20px;
  font-family: "Kaushan Script", cursive;
  font-size: 64px;
  color: #fff;
  text-align: center;
}

.learnmore__btn {
  display: inline-block;
  margin: 75px auto 120px;
  padding: 20px 100px;
  border: 3px solid #fff;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: background 0.2s linear, color 0.2s linear;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.learnmore__btn:hover {
  background-color: #fff;
  color: #f4bf87;
  border: 3px solid #da8225;
}

.welcome__slider {
  display: flex;
  justify-content: space-between;
}

.slider__item {
  position: relative;
  width: 24%;
  border-top: 2px solid #fff;

  padding-top: 30px;
  font-family: Raleway;
  font-style: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 10px;
}

.slider__item::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background-color: #f38281;
  position: absolute;
  top: -2px;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.slider__item:hover::after {
  opacity: 1;
}

.slider__num {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

/* Header */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 43px;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #fff;
  position: relative;
  text-decoration: none;
  transition: color 0.2s linear;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
}

.nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #f4bf87;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity 0.1s linear;
}

.nav__link:hover {
  color: #f4bf87;
}

.nav__link:hover:after {
  opacity: 1;
}

/* StoryAboutUs */

.story__text {
  text-align: center;
}
.above__title__name {
  font-family: "Kaushan Script", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #2d3033;
  padding: 20px;
  margin-top: 40px;
}

.title__name {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 36px;
  padding: 30px;
}

.title__name:after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  margin: 40px auto 0;
  background-color: #f38281;
}

.story__text__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 20px;
}

.superteam {
  display: flex;
  justify-content: space-between;
}

.superteam__item {
  background: #95e1d3;
  position: relative;
  cursor: pointer;
}

.superteam__item:hover .superteam__item__img {
  transform: translate3d(-10px, -10px, 0);
}

.superteam__item:hover .superteam__item__img img {
  opacity: 0.1;
}

.superteam__item:hover .superteam__item__icon {
  opacity: 2;
}

.superteam__item__img {
  background: linear-gradient(to bottom, #f38181, #fce38a);
  transition: transform 0.3s linear;
}

.superteam__item__img img {
  transition: opacity 0.1s linear;
  display: block;
}

.superteam__item__icon {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  transform: translate3d(0, -50%, 0);
  opacity: 0;

  color: #fff;
  text-transform: uppercase;
  transition: opacity 0.2s linear;
}

.superteam__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

/* FUTURES */

.futures {
  margin-top: 108px;
  height: 200px;
  background-color: #95e1d3;
}

.future__items {
  border-left: solid 1px #fff;
  display: flex;
}

.future__item {
  flex: 1 1 0;

  margin: 0 auto;
  text-align: center;
  border-right: solid 1px #fff;
  height: 200px;
  padding-top: 10px;
}

.future__num {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 64px;
  color: #fff;
}

.future__text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}

/* SERVICES */

.service__items {
  margin: 100px 0;
  display: flex;
}

.service__items:last-child {
  padding-top: 40px;
}

.service__item {
  display: flex;
}

.service__item__text {
  padding: 10px 0 0 35px;
}

.service__item__text h3 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.service__item__text p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* DEVICES */

.devices {
  background: url("./img/alldevices/devicesimg.png");
  -webkit-background-size: cover;
  background-size: cover;
  height: 865px;
}

.devices__items {
  margin-top: 30px;
  position: relative;
}

.ipad {
  z-index: 0;
}

.iphone {
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 70%;
}

/* WEDO */

.wedo__inf {
  display: flex;
}

.wedo__scroll {
  margin: 0 20px;
}

.wedo__scroll__item {
  margin-bottom: 13px;
  cursor: pointer;
}

.wedo__scroll__item.active .wedo__scroll__header {
  border-bottom: none;
}

.wedo__scroll__header {
  display: flex;
  border: 1px solid #c6cbcd;
  height: 78px;
}

.wedo__scroll__header__icon {
  padding: 18px 20px 10px 10px;
}

.wedo__scroll__header__title {
  float: left;
  text-transform: uppercase;
  margin: auto 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.wedo__scroll__text {
  height: min-content;
  border: 1px solid #c6cbcd;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.wedo__scroll__text p {
  margin: 20px;
  overflow: auto;

  height: 180px;
}

.arrow__photography {
  display: flex;
  height: 50px;
  margin-left: 250px;
  margin-top: 10px;
}

.arrow__creativity {
  display: flex;
  height: 50px;
  margin-left: 300px;
  margin-top: 15px;
}

.arrow__webdesign {
  display: flex;
  height: 50px;
  margin-left: 285px;
  margin-top: 15px;
}

/* COMMENTS */

.comments {
  background-color: #f8f8f8;
  margin-top: 100px;
}

.comments__arrow {
  margin: auto 0;
  cursor: pointer;
}

.comments__item {
  display: flex;
  justify-content: space-between;
}

.comments__items {
  display: flex;
  justify-content: space-between;

  padding: 40px;
}

.comments__text {
  margin-left: 20px;
}

.comments__text p {
  font-family: Raleway;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  color: #a9afb1;
}

.comments__name::before {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #f38281;
  margin-top: 20px;
}

.comments__name {
  display: flex;
}

.comments__name h4 {
  display: inline-block;
  font-family: Kaushan Script;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-left: 50px;
}

/* OUR TEAM */

.ourteam {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.ourteam__item {
  position: relative;
}

.ourteam__item__img:hover .ourteam__social {
  opacity: 1;
}

.ourteam__item__img {
  z-index: 1;
  position: relative;
  cursor: pointer;
}

.ourteam__item__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 370px;
  height: 424px;
  z-index: 2;
  background: linear-gradient(
    360deg,
    rgba(237, 215, 137, 0.9) 0%,
    rgba(233, 130, 131, 0.9) 100%
  );
  opacity: 0;
}

.ourteam__item__img:hover::after {
  transform: translate3d(-10px, -10px, 0);
  opacity: 1;
  transition: transform 0.2s linear;
}

.ourteam__item h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;

  margin-top: 30px;
}

.ourteam__item p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.ourteam__social {
  display: flex;

  width: 100%;
  position: absolute;
  top: 45%;
  left: 25%;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.4s linear;
}

.ourteam__social__item {
  background-color: #f9efcf;
  color: #f38281;
  width: 42px;
  height: 42px;
  font-size: 30px;
  margin: 1px;
  cursor: pointer;
  text-decoration: none;
}

.ourteam__social__item:hover {
  color: #fff;
  background-color: #f38281;
  transition: 0.3s linear;
}

/* PARTNERS */

.partners {
  margin-top: 108px;
  height: 200px;
  background-color: #f8f8f8;
}

.partners_items {
  display: flex;
}

.partner__item {
  flex: 1 1 0;
  margin: auto 0;
  padding: 5vh 0 0 0;
  cursor: pointer;
}

/* OURWORK */

.work__items {
  display: flex;
}

.work__list {
  flex: 1 1 0;
}

.work__item {
  position: relative;
  background: linear-gradient(to bottom, #f38181, #fce38a);
  cursor: pointer;
}

.work__item:hover .work__img {
  opacity: 0.1;
}

.work__img {
  transition: opacity 0.2s linear;
  display: block;
  width: 100%;
}

.work__text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.work__text h4 {
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin-top: 60px;
}

.work__text p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.work__item:hover .work__text {
  opacity: 1;
}

/* REVIEWS */

.reviews {
  margin: 20px 0;
  background-color: #fff;
}

/* ourclients */

.ourclients {
  background: url("./img/ourclients/bg.png");
}

.ourclients__items {
  display: flex;
  justify-content: space-between;
}

.ourclients__item {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.client__reviwe {
  margin-left: 40px;
}

.client__reviwe h3 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
}

.client__reviwe h4 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
}

.client__reviwe h4::after {
  content: "";
  display: block;
  width: 70px;
  height: 4px;
  background-color: #f38281;
  margin-top: 20px;
}

.client__reviwe p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
  margin-top: 50px;
}

/* B L O G */

.blog__items {
  margin-top: 30px;
  display: flex;
}

.blog__item {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.blog__date {
  background-color: #95e1d3;
  position: absolute;
  width: 80px;
  height: 80px;
  text-align: center;
  color: #fff;
  z-index: 2;
  top: 27%;
  left: -5%;
}

.blog__date h4 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  margin-top: 5px;
}

.blog__date p {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
}

.blog__item h3 {
  margin-top: 20px;
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 20px;
}

.blog__item p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 18px;
}

.likes__and__comments {
  display: flex;
}

.likes {
  display: flex;
  margin-right: 20px;
}

.comment {
  display: flex;
}

.likes img {
  margin-right: 10px;
}

.comment img {
  margin-right: 10px;
}

/* M A P */

.map {
  background: url("./img/map/bg.png");
  -webkit-background-size: cover;
  background-size: cover;
  height: 231px;
  cursor: pointer;
}

.map__items {
  text-align: center;
  padding-top: 60px;
}

.map__items h3 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 900;
  font-size: 36px;
  color: #f38281;
}

.map__items h3:after {
  content: "";
  display: block;
  background-color: #f38281;
  width: 20vh;
  height: 3px;
  margin: 20px auto;
}

/* FOOTER */

.footer {
  margin-top: 50px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  margin: 20px;
}

.footer__item:first-child {
  width: 470px;
}

.footer__item:last-child {
  width: 270px;
}

.footer__mogo p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 15px;
  color: #c6cbcd;
  padding: 10px 0;
}

.footer__followers {
  margin: 20px 0;
  display: flex;
}

.footer__followers {
  font-family: Raleway;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.footer__followers__text {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 30px;
  margin-right: 10px;
}

.link {
  border-top: 1px solid #a9afb1;
  display: flex;
}

.link a {
  margin: auto 3px;
}

.link p {
  margin-right: 25px;
}

.link img {
  margin-left: 10px;
  flex: 0 1 0;
}

.subscribe {
  width: 100%;
  max-width: 380px;
  display: flex;
  box-shadow: 0 3px 5px 1px #a9afb1;
}

.subscribe__input {
  padding: 12px;
  background-color: #fff;
  border: 1px solid #a09a9a;
  font-size: 15px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  opacity: 0.5;
}

.subscribe__button {
  height: 44px;
  padding: 12px;
  background-color: #95e1d3;
  border: 0;
  color: #fff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;

  text-transform: uppercase;
  cursor: pointer;
}

.subscribe__button:hover {
  background-color: #408679;
}

.subscribe__button:active {
  background-color: #1e423c;
}

.footer__blog h4 {
  text-transform: uppercase;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.footer__blog__item {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.blog__text {
  padding-left: 10px;

  width: 100%;
}

.blog__text h3 {
  text-transform: uppercase;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
}

.blog__text p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 13px;
}

.footer__instagram h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__instagram__img {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}

.see__all {
  color: #333;
}

.copyright {
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #c6cbcd;
}

/* MEDIA */

@media screen and (max-width: 1200px) {
  /* WELCOME */
  .container {
    padding: 0 20px;
  }

  .nav {
    margin-right: 20px;
  }
  .welcome__title__template {
    font-size: 48px;
    line-height: 70px;
  }

  .welcome__title {
    font-size: 105px;
    line-height: 117px;
  }

  .welcome__title:after {
    content: "";
    display: block;
    width: 115px;
    height: 3px;
    margin: 60px auto 0;

    background-color: #fff;
  }

  .welcome__slider {
    padding: 0 -20px;
  }

  .learnmore__btn {
    padding: 10px 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (max-width: 320px) {
}
